<%= render 'layouts/messages' %>

<%= form_for @password_change, :method => :post, :html => {:class => 'form-signin md-3'} do |f| %>
  <h2 class="form-signin-heading">Change Password</h2>
  <div class="form-group">
    <%= f.password_field 'current_password', :class => 'form-control', :placeholder => 'Enter your current password', :autofocus => true %>
    <%= f.password_field 'new_password', :class => 'form-control', :placeholder => 'Enter your new password' %>
    <%= f.password_field 'new_password_confirmation', :class => 'form-control', :placeholder => 'Enter your new password again' %>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">Submit</button>
<% end %>


